#define ZMK_POINTING_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 25   // 10

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors/runtime-sensor-rotate.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&soft_off { hold-time-ms = <2000>; };

/ {
    behaviors {
        rsr_scroll: rsr_scroll {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <5>;
            cw-binding = <&kp C_AC_SCROLL_UP>;
            ccw-binding = <&kp C_AC_SCROLL_DOWN>;
        };

        rsr_trans: rsr_trans {
            compatible = "zmk,behavior-runtime-sensor-rotate";
            #sensor-binding-cells = <0>;
            tap-ms = <0>;
        };

        shift_to_caps_word: shift_to_caps_word {
            compatible = "zmk,behavior-hold-tap";
            label = "SHIFT_TO_CAPS_WORD";
            bindings = <&caps_word>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            retro-tap;
        };

        ctrl_backspace_behavior: ctrl_backspace_behavior {
            compatible = "zmk,behavior-hold-tap";
            label = "CTRL_BACKSPACE_BEHAVIOR";
            bindings = <&ctrl_backspace_macro>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    macros {
        ctrl_backspace_macro: ctrl_backspace_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(BACKSPACE)>, <&macro_tap_time 200>;

            label = "CTRL_BACKSPACE_MACRO";
        };
    };

    combos {
        compatible = "zmk,combos";

        softoff {
            bindings = <&soft_off>;
            key-positions = <1 15 29>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "base";
            bindings = <
&none  &kp Q  &kp W  &kp E          &kp R        &kp T                                             &none         &kp Y  &kp U      &kp I                                 &kp O    &kp P     &none
&none  &kp A  &kp S  &kp D          &kp F        &kp G                                      &none  &none  &none  &kp H  &kp J      &kp K                                 &kp L    &kp SEMI  &none
&none  &kp Z  &kp X  &kp C          &kp V        &kp B                             &none           &none         &kp N  &kp M      &kp COMMA                             &kp DOT  &kp FSLH  &none
                     &mt LCTRL TAB  &lt 2 SPACE  &shift_to_caps_word 0 LEFT_SHIFT                                &mo 1  &kp ENTER  &ctrl_backspace_behavior 0 BACKSPACE
            >;

            sensor-bindings = <&rsr_scroll>, <&rsr_trans>;
        };

        numsym_layer {
            display-name = "numsym";
            bindings = <
&none  &kp N1     &kp N2     &kp N3     &kp N4    &kp N5                     &none         &kp N6  &kp N7  &kp N8  &kp N9  &kp N0  &none
&none  &kp GRAVE  &kp EQUAL  &kp MINUS  &kp PIPE  &kp SQT             &none  &none  &none  &trans  &trans  &trans  &trans  &trans  &none
&none  &none      &none      &none      &none     &kp BSLH   &none           &none         &none   &none   &none   &none   &none   &none
                             &none      &none     &kp LSHFT                                &none   &none   &none
            >;

            sensor-bindings = <&rsr_scroll>, <&rsr_trans>;
        };

        nav_layer {
            display-name = "nav";
            bindings = <
&none  &none    &kp TAB  &kp TAB          &none        &none                  &none         &kp RIGHT_PARENTHESIS  &kp LEFT_PARENTHESIS  &kp LEFT_BRACE  &kp RIGHT_BRACE   &none  &none
&none  &kp ESC  &none    &kp LS(LC(TAB))  &kp LC(TAB)  &none           &none  &none  &none  &kp LEFT               &kp DOWN              &kp UP          &kp RIGHT         &none  &none
&none  &none    &none    &none            &none        &none  &none           &none         &kp RBKT               &kp LBKT              &kp LESS_THAN   &kp GREATER_THAN  &none  &none
                         &none            &none        &none                                &none                  &none                 &none
            >;

            sensor-bindings = <&rsr_scroll>, <&rsr_trans>;
        };
    };
};
